{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="">
            <h5 style="text-align: center">Seleccione Criterios de Filtrado</h5>
        </div>
        <form method="post" action="">
            {% csrf_token %}
            <div class="layout-row row" style="display: flex; justify-content: center; align-items: center;">
                <div class="col s12 m6">
                    <div class="row">
                        <div class="input-field col s12 fecha_desde" id="fecha_desde">
                            <i class="material-icons prefix">date_range</i><input autocomplete="off" data-date-format="d/m/Y" data-form-control="date" data-lang="es" id="fecha" name="fecha_desde" type="text" required>
                            <label class="active" for="fecha_desde">Desde</label>
                            <div class="help-block">Formato: DD/MM/AAAA</div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="row">
                        <div class="input-field col s12 fecha_hasta" id="fecha_hasta">
                            <i class="material-icons prefix">date_range</i><input autocomplete="off" data-date-format="d/m/Y" data-form-control="date" data-lang="es" id="fecha" name="fecha_hasta" type="text" required>
                            <label class="active" for="fecha_hasta">Hasta</label>
                            <div class="help-block">Formato: DD/MM/AAAA</div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m8">
                    <div class="row">
                        <div class="input-field col s12 criterios" id="criterios">
                            <i class="material-icons prefix">content_paste</i>
                                <select name = "reporte" id="reporte" >
                                    <option value="0">Genero</option>
                                    <option value="1">Grupo Etario</option>
                                    <option value="2">Edades</option>
                                </select>
                            <div class="help-block">Criterio</div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4" style="text-align: center;">
                    <div class="row">
                        <div class="col s12">
                            <button class="btn btn-primary"  type="submit">Buscar
                                <i class="material-icons right">search</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <h4><center>Comparativas pacientes</center></h4>
        <div id="container" class="col s12" style="height: 700px"></div>
        <div class="row">
            <div class="col s12">
                <table id="planilla_table" class="table table-striped table-bordered table-hover" data-toggle="bootgrid">
                    <thead>
                    <tr>
                        {% for fila in cols %}
                            <th>{{ fila }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>

                    {% for fila in reporte %}
                        <tr>
                            {% for item in fila %}
                            <td>{{ item }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

        <script src="{% static 'gerencial/js/jquery-2.1.1.js' %}" ></script>
        <script src="{% static 'gerencial/js/Highcharts-6.1.0/code/highcharts.src.js' %}" ></script>
        <script src="{% static 'gerencial/js/Highcharts-6.1.0/code/modules/exporting.js' %}" ></script>
        <script src="{% static 'gerencial/js/Highcharts-6.1.0/code/modules/export-data.js' %}" ></script>
        <script src="{% static 'gerencial/js/base64.js' %}"></script>
        <script type="text/javascript">
            var logo = "{% static 'gerencial/img/odonto_logo.png' %}";
            var columnas = {{ cols|safe }};
            var filas = "{{ reporte|safe }}";
            filas = filas.split("(").join('[');
            filas = filas.split(")").join(']');
            filas = eval(filas);
            console.log(columnas);
            console.log(filas);
            to_data_url(logo, function(toDataUrl) {
                logo = toDataUrl;
            })
        </script>
        <script type="text/javascript" src="{% static 'gerencial/js/reporte_pac_atendidos.js' %}" ></script>
{% block js %}
    <script type="text/javascript">
        $(document).ready(function (){
            $("input[name='fecha_desde']").dblclick(function() {
                    $("input[name='fecha_desde']").datepicker("show");
                });
            $('input[name="fecha_desde"]').click(function() {
                    $("input[name='fecha_desde']").datepicker("hide");
            });
            $("input[name='fecha_desde']").datepicker({
                    format: "dd/mm/yyyy",
                    todayBtn: "linked",
                    maxViewMode: 3,
                    autoclose: true,
                    language: "es",
                    daysOfWeekHighlighted: "0",
                    clearBtn: true,
                    todayHighlight: true,
                    orientation: "bottom auto",
                    container: "div.fecha_desde"
            });
            $("input[name='fecha_desde']").mask("00/00/0000");

            $("input[name='fecha_hasta']").dblclick(function() {
                $('input[name="fecha_hasta"]').datepicker("show");
            });
            $("input[name='fecha_hasta']").click(function() {
                $("input[name='fecha_hasta']").datepicker("hide");
            });
            $("input[name='fecha_hasta']").datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                maxViewMode: 3,
                autoclose: true,
                language: "es",
                daysOfWeekHighlighted: "0",
                clearBtn: true,
                todayHighlight: true,
                orientation: "bottom auto",
                container: "div.fecha_hasta"
            });
            $("input[name='fecha_hasta']").mask("00/00/0000");
        });
    </script>
{% endblock %}
{%endblock%}