{% extends 'base.html' %}
{% load static %}
{% block content %}

        <div class="col s12">
            <div class="offset-s3" style="float:right; padding-top: 2%;">
                <a class="btn-floating btn-small waves-effect waves-light modal-trigger" href="#modal1"><i class="material-icons">info</i></a>
            </div>
        </div>

        <div class="">
            <h5 style="text-align: center">Seleccione Criterios de Filtrado</h5>
        </div>
        <form method="post" action="">
            {% csrf_token %}
            <div class="layout-row row" style="display: flex; justify-content: center; align-items: center;">
                <div class="col s12 m6">
                    <div class="row">
                        <div class="input-field col s12 fecha_desde" id="fecha_desde">
                            <i class="material-icons prefix">date_range</i><input autocomplete="off" data-date-format="d/m/Y" data-form-control="date" data-lang="es" id="fecha" name="fecha_desde" type="text" required>
                            <label class="active" for="fecha_desde">Desde</label>
                            <div class="help-block">Formato: DD/MM/AAAA</div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="row">
                        <div class="input-field col s12 fecha_hasta" id="fecha_hasta">
                            <i class="material-icons prefix">date_range</i><input autocomplete="off" data-date-format="d/m/Y" data-form-control="date" data-lang="es" id="fecha" name="fecha_hasta" type="text" required>
                            <label class="active" for="fecha_hasta">Hasta</label>
                            <div class="help-block">Formato: DD/MM/AAAA</div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="row">
                        <div class="input-field col s12 criterios" id="criterios">
                            <i class="material-icons prefix">content_paste</i>
                                <select name = "sexo" id="sexo" >
                                    <option value="0">Masculino</option>
                                    <option value="1">Femenino</option>
                                </select>
                            <div class="help-block">Sexo</div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="layout-row row" style="display: flex; justify-content: center; align-items: center;">
            <div class="col s12 m6">
                    <div class="row">
                        <div class="input-field col s12 criterios" id="criterios">
                            <i class="material-icons prefix">content_paste</i>
                                <select name = "residencia" id="residencia" >
                                    <option value="0">Urbano</option>
                                    <option value="1">Rural</option>
                                </select>
                            <div class="help-block">Area</div>
                        </div>
                    </div>
                </div>
            <div class="col s12 m7">
                    <div class="row">
                        <div class="input-field col s12 criterios" id="criterios">
                            <i class="material-icons prefix">content_paste</i>
                                <select name = "etario" id="etario" >
                                    <option value="0"> 2 - 5 Años</option>
                                    <option value="1"> 6 - 12 Años</option>
                                    <option value="2"> 13 - 17 Años</option>
                                    <option value="3"> 18 + Años</option>
                                </select>
                            <div class="help-block">Grupo Etario</div>
                        </div>
                    </div>
                </div>
            <div class="col s12 m5" style="text-align: center;">
                    <div class="row">
                        <div class="col s12">
                            <button class="btn btn-primary"  type="submit">Buscar
                                <i class="material-icons right">search</i>
                            </button>
                        </div>
                    </div>
                </div>
        </div>
        </form>

        <h4><center>Informe de Afectados por Severidad de Caries</center></h4>

        <div id="container" style="height: 700px"></div>

        <div class="row">
            <div class="col s12">
                <table id="tabla_tratam" class="table table-striped table-bordered table-hover" data-toggle="bootgrid">
                    <thead>
                    <tr>
                        <th>Severidad</th>
                        <th>Afectados</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for fila in severidades %}
                        <tr>
                            <td>{{ fila.severidad }}</td>
                            <td>{{ fila.afectados }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>


    <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4>Informe de Afectados por Severidad de Caries</h4>
                <table>
                    <thead>
                        <th>Parámetro</th>
                        <th>Descripción</th>
                    </thead>
                    <tobdy>
                        <tr>
                            <td>Desde</td>
                            <td>Fecha desde la cual desea realizar el filtrado</td>
                        </tr>
                        <tr>
                            <td>Hasta</td>
                            <td>Fecha hasta la cual desea realizar el filtrado</td>
                        </tr>
                        <tr>
                            <td>Sexo</td>
                            <td>Género que se desea evaluar</td>
                        </tr>
                        <tr>
                            <td>Grupo Etario</td>
                            <td>Rango de Edades en las cuales desea filtrar</td>
                        </tr>
                        <tr>
                            <td>Área</td>
                            <td>Área de Procedencia de los pacientes</td>
                        </tr>
                    </tobdy>
                </table>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
            </div>
        </div>


        <script src="{% static 'gerencial/js/jquery-2.1.1.js' %}" ></script>
        <script src="{% static 'gerencial/js/Highcharts-6.1.0/code/highcharts.src.js' %}" ></script>
        <script src="{% static 'gerencial/js/Highcharts-6.1.0/code/modules/exporting.js' %}" ></script>
        <script src="{% static 'gerencial/js/Highcharts-6.1.0/code/modules/export-data.js' %}" ></script>
        <script src="{% static 'gerencial/js/base64.js' %}"></script>
        <script type="text/javascript">
            var logo = "{% static 'gerencial/img/odonto_logo.png' %}";
            to_data_url(logo, function(dataUrl) {
                logo = dataUrl;
            });
            var severidad = "{{ severidades | safe }}";
            var parametros = "{{ parametros | safe }}";
            var flag = true;
            if(parametros.length != 0) {
                parametros = parametros.split("'").join('"');
                parametros = JSON.parse(parametros);
            } else {
                flag = false;
                parametros = '{"fecha_desde":"","fecha_hasta":"","sexo":"","residencia":"","etario":""}';
            }
            severidad = severidad.split("'").join('"');
            severidad = JSON.parse(severidad);
            console.log(parametros);
            console.log(severidad);
        </script>
        <script src="{% static 'gerencial/js/reporte_severidad.js' %}"></script>
{% block js %}
         <script type="text/javascript">
         $(document).ready(function() {
            $('input[name="fecha_desde"]').mask('00/00/0000');
            $('input[name="fecha_hasta"]').mask('00/00/0000');

            $('input[name="fecha_desde"]').dblclick(function() {
                $('input[name="fecha_desde"]').datepicker('show');
            });
            $('input[name="fecha_desde"]').click(function() {
                $('input[name="fecha_desde"]').datepicker('hide');
            });

            $('input[name="fecha_desde"]').datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                maxViewMode: 3,
                autoclose: true,
                language: "es",
                clearBtn: true,
                todayHighlight: true,
                orientation: "bottom auto",
                container: "div.fecha_desde"
            });

            $('input[name="fecha_hasta"]').dblclick(function() {
                $('input[name="fecha_hasta"]').datepicker('show');
            });
            $('input[name="fecha_hasta"]').click(function() {
                $('input[name="fecha_hasta"]').datepicker('hide');
            });

            $('input[name="fecha_hasta"]').datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                maxViewMode: 3,
                autoclose: true,
                language: "es",
                clearBtn: true,
                todayHighlight: true,
                orientation: "bottom auto",
                container: "div.fecha_hasta"
            });
         });
        </script>
{%endblock%}

{%endblock%}