{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script src="{% static 'gerencial/js/jspdf.min.js' %}"></script>

        <div class="">
            <h5 style="text-align: center">Seleccione Criterios de Filtrado</h5>
        </div>
        <form method="post" action="">
            {% csrf_token %}
            <div class="layout-row row" style="display: flex; justify-content: center; align-items: center;">
                <div class="col s12 m6">
                    <div class="row">
                        <div class="input-field col s12 fecha_desde" id="fecha_desde">
                            <i class="material-icons prefix">date_range</i><input autocomplete="off" data-date-format="d/m/Y" data-form-control="date" data-lang="es" id="fecha" name="fecha_desde" type="text" required>
                            <label class="active" for="fecha_desde">Desde</label>
                            <div class="help-block">Formato: DD/MM/AAAA</div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="row">
                        <div class="input-field col s12 fecha_hasta" id="fecha_hasta">
                            <i class="material-icons prefix">date_range</i><input autocomplete="off" data-date-format="d/m/Y" data-form-control="date" data-lang="es" id="fecha" name="fecha_hasta" type="text" required >
                            <label class="active" for="fecha_hasta">Hasta</label>
                            <div class="help-block">Formato: DD/MM/AAAA</div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="row">
                        <div class="input-field col s12 criterios" id="criterios">
                            <i class="material-icons prefix">content_paste</i>
                            <select name = "criterio" id="criterio" >
                    <option value="0">ICDAS</option>
                    <option value="1">OMS</option>

</select>
                            <div class="help-block">Criterio: ICDAS u OMS</div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6" style="text-align: center;">
                    <div class="row">
                        <div class="col s12">
                            <button class="btn btn-primary"  type="submit">Buscar
                                <i class="material-icons right">search</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    <a class="btn btn-default" href="javascript:demoFromHTML()" type="submit" id="boton" style="background: #e9e9e9; color: black; font-size: 0.88em">PDF</a>

        <h4><center>Tablas de Frecuencia Grupales</center></h4>

        <div class="row" id="content">
            <div class="col s12">
                <h6>CPOD</h6>
                <table id="tabla_cpod" class="table table-striped table-bordered table-hover" data-toggle="bootgrid">
                    <thead>
                    <tr>
                        <th>Indice</th>
                        <th>Total</th>
                        <th>Frecuencia</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for fila in cpod %}
                        <tr>
                            <td>{{ fila.estado }}</td>
                            <td>{{ fila.cantidad }}</td>
                            <td>{{ fila.frecuencia }}
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

            <div class="col s12">
                <h6>ceod</h6>
                <table id="tabla_ceod" class="table table-striped table-bordered table-hover" data-toggle="bootgrid">
                    <thead>
                    <tr>
                        <th>Indice</th>
                        <th>Total</th>
                        <th>Frecuencia</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for fila in ceod %}
                        <tr>
                            <td>{{ fila.estado }}</td>
                            <td>{{ fila.cantidad }}</td>
                            <td>{{ fila.frecuencia }}
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

            <div class="col s12">
                <h6>CPOM</h6>
                <table id="tabla_cpom" class="table table-striped table-bordered table-hover" data-toggle="bootgrid">
                    <thead>
                    <tr>
                        <th>Indice</th>
                        <th>Total</th>
                        <th>Frecuencia</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for fila in cpom %}
                        <tr>
                            <td>{{ fila.estado }}</td>
                            <td>{{ fila.cantidad }}</td>
                            <td>{{ fila.frecuencia }}
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

           <div class="col s12">
                <h6>CPOS</h6>
                <table id="tabla_cpos" class="table table-striped table-bordered table-hover" data-toggle="bootgrid">
                    <thead>
                    <tr>
                        <th>Indice</th>
                        <th>Total</th>
                        <th>Frecuencia</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for fila in cpos %}
                        <tr>
                            <td>{{ fila.estado }}</td>
                            <td>{{ fila.cantidad }}</td>
                            <td>{{ fila.frecuencia }}
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>

<script>
    function demoFromHTML() {
        var pdf = new jsPDF('p', 'pt', 'letter');
        // source can be HTML-formatted string, or a reference
        // to an actual DOM element from which the text will be scraped.
        var imgData = '{{ imagen }}';
pdf.addImage(imgData, 'JPEG', 150, 40, 300, 100);
pdf.text(230, 160, "Frecuencias Grupales");
        source = $('#content')[0];

        // we support special element handlers. Register them with jQuery-style
        // ID selector for either ID or node name. ("#iAmID", "div", "span" etc.)
        // There is no support for any other type of selectors
        // (class, of compound) at this time.
        specialElementHandlers = {
            // element with id of "bypass" - jQuery style selector
            '#bypassme': function (element, renderer) {
                // true = "handled elsewhere, bypass text extraction"
                return true
            }
        };
        margins = {
            top: 150,
            bottom: 60,
            left: 80,
            width: 522
        };
        // all coords and widths are in jsPDF instance's declared units
        // 'inches' in this case
        pdf.fromHTML(
            source, // HTML string or DOM elem ref.
            margins.left, // x coord
            margins.top, { // y coord
                'width': margins.width, // max width of content on PDF
                'elementHandlers': specialElementHandlers
            },

            function (dispose) {
                // dispose: object with X, Y of the last line add to the PDF
                //          this allow the insertion of new lines after html
                pdf.save('FrecuenciasGrupales.pdf');
            }, margins
        );

    }
</script>





    {% block js %}

                <script type="text/javascript">
            $('input[name="fecha_desde"]').mask('00/00/0000');
            $('input[name="fecha_hasta"]').mask('00/00/0000');
        </script>
        <script type="text/javascript">
            $('input[name="fecha_desde"]').dblclick(function() {
                $('input[name="fecha_desde"]').datepicker('show');
            });
            $('input[name="fecha_desde"]').click(function() {
                $('input[name="fecha_desde"]').datepicker('hide');
            });
        </script>
        <script type="text/javascript">
            $('input[name="fecha_desde"]').datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                maxViewMode: 3,
                autoclose: true,
                language: "es",
                daysOfWeekHighlighted: "0",
                clearBtn: true,
                todayHighlight: true,
                orientation: "bottom auto",
                container: "div.fecha_desde"
            });
        </script>

        <script type="text/javascript">
            $('input[name="fecha_hasta"]').dblclick(function() {
                $('input[name="fecha_hasta"]').datepicker('show');
            });
            $('input[name="fecha_hasta"]').click(function() {
                $('input[name="fecha_hasta"]').datepicker('hide');
            });
        </script>
        <script type="text/javascript">
            $('input[name="fecha_hasta"]').datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                maxViewMode: 3,
                autoclose: true,
                language: "es",
                daysOfWeekHighlighted: "0",
                clearBtn: true,
                todayHighlight: true,
                orientation: "bottom auto",
                container: "div.fecha_hasta"
            });
        </script>

{%endblock%}

{%endblock%}